.lk {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .lk__inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; }
  .lk .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%; }
  .lk__main {
    padding: 28px 0 130px;
    width: calc(100% - 235px); }
    .lk__main-title {
      font-size: 24px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 30px; }
  .lk__form {
    max-width: 865px; }
    .lk__form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      margin-bottom: 30px; }
    .lk__form-group input {
      width: 100%;
      height: 36px;
      border: 1px solid #37af62;
      padding-left: 10px;
      border-radius: 5px; }
    .lk__form-group .select {
      height: 36px;
      font-size: 14px; }
    .lk__form-btn {
      width: 194px;
      height: 36px;
      margin-left: auto;
      border-radius: 5px; }
  .lk__desc {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #151515; }
  .lk__text {
    margin-bottom: 22px; }
  .lk__item:not(:last-child) {
    margin-bottom: 12px; }
  .lk__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .lk__radio:checked + label:after {
      opacity: 1;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      position: absolute;
      background: #10dff3;
      transform: translateY(-50%);
      top: 50%;
      left: 3px; }
  .lk__label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #151515;
    position: relative;
    padding-left: 25px; }
    .lk__label::before {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
      border: 1px solid #37af62;
      border-radius: 50%; }
  .lk__item-img {
    margin-top: 8px;
    margin-left: -13px;
    margin-bottom: 17px; }
    @media screen and (max-width: 420px) {
      .lk__item-img img {
        width: 100%; } }
  .lk__btn {
    width: 409px;
    height: 36px;
    border-radius: 5px; }
  .lk__desc-two {
    margin-top: 20px; }
  .lk__sidebar {
    width: 210px;
    min-height: 100%;
    border-left: 1px solid #37af62;
    border-right: 1px solid #37af62;
    padding: 30px 0 0 30px;
    flex-shrink: 0;
    background: #eeeeee;
    z-index: 8; }
    .lk__sidebar--none {
      position: absolute;
      right: -100%;
      top: 0; }
  .lk__link {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-bottom: 30px; }
    .lk__link-bold, .lk__link--active {
      font-weight: 700; }
    .lk__link-item {
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000; }
      .lk__link-item img {
        margin-left: 10px; }
      .lk__link-item .lk__link {
        margin-bottom: 0; }
  .lk__stream {
    margin-top: 25px; }
    .lk__stream-slider {
      margin-top: 28px;
      position: relative; }
      .lk__stream-slider .swiper-button-next {
        right: -28px;
        top: 77px;
        margin-top: 0; }
        .lk__stream-slider .swiper-button-next:after {
          display: none; }
      @media screen and (max-width: 880px) {
        .lk__stream-slider {
          display: flex;
          align-items: center; }
          .lk__stream-slider .swiper-button-next {
            position: static;
            margin-top: -60px;
            margin-left: 10px; } }
    .lk__stream-title {
      font-size: 24px;
      font-weight: 700;
      color: #000000; }
    .lk__stream .all-stream__items {
      grid-template-columns: calc(25% - 4px) calc(25% - 4px) calc(25% - 4px) calc(25% - 4px); }
      @media screen and (max-width: 1200px) {
        .lk__stream .all-stream__items {
          grid-template-columns: calc(33.33% - 4px) calc(33.33% - 4px) calc(33.33% - 4px);
          row-gap: 25px; } }
      @media screen and (max-width: 768px) {
        .lk__stream .all-stream__items {
          grid-template-columns: calc(50% - 4px) calc(50% - 4px); } }
      @media screen and (max-width: 576px) {
        .lk__stream .all-stream__items {
          grid-template-columns: 100%; } }

.translation {
  max-width: 890px; }
  .translation__top {
    position: relative; }
    .translation__top img {
      width: 100%; }
  .translation__play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .translation__info {
    font-size: 18px;
    color: #000000;
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .translation__info {
        display: block;
        margin-top: 25px; } }
  @media screen and (max-width: 768px) {
    .translation__sum {
      margin-top: 15px; } }
  .translation__nav {
    display: flex;
    align-items: center;
    margin-top: 24px; }
    .translation__nav .lk__form-group {
      width: 375px; }
    .translation__nav input {
      height: 44px; }
    @media screen and (max-width: 768px) {
      .translation__nav {
        display: block; }
        .translation__nav .lk__form-group {
          width: 100%; } }
  .translation__btn {
    width: 375px;
    height: 44px;
    margin-left: 29px; }
    .translation__btn--ml0 {
      margin: 0 !important; }
    @media screen and (max-width: 768px) {
      .translation__btn {
        margin-left: 0;
        width: 100%;
        margin-top: 15px; } }

@media screen and (max-width: 992px) {
  .lk {
    position: relative; }
    .lk__sidebar {
      position: absolute;
      right: -100%;
      top: 0;
      width: 100%;
      transition: all .3s;
      border-left: none;
      border-right: none; }
      .lk__sidebar--active {
        right: 0; }
    .lk__main {
      width: 100%;
      padding: 15px 0 75px; }
    .lk__form {
      max-width: unset; } }
@media screen and (max-width: 768px) {
  .lk__form-grid {
    grid-template-columns: 100%;
    margin-bottom: 18px; }
  .lk__form-btn {
    margin-left: 0;
    margin-right: auto; }
  .lk__btn {
    width: 100%; }
  .lk__text {
    margin-bottom: 14px; } }

/*# sourceMappingURL=lk.css.map */
