@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1; }

button,
input,
textarea {
  outline: none !important;
  transition: all .3s;
  font-family: 'Roboto', sans-serif; }
  button::placeholder,
  input::placeholder,
  textarea::placeholder {
    color: #a8a8a8; }

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important; }

::-webkit-input-placeholder {
  color: #222; }

::-moz-placeholder {
  color: #222; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #222; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222; }

.transit {
  /* Safari */
  transition: all 0.4s; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

html {
  height: 100%;
  scroll-behavior: smooth; }

svg {
  flex-shrink: 0; }

svg,
path {
  transition: all .3s; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
  color: #141414; }
  body.fixed-body {
    overflow-y: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s; }
  a:hover {
    text-decoration: none !important;
    color: inherit; }
  a:focus {
    text-decoration: none !important; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit; }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; }

i {
  line-height: 100%; }

label {
  margin: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  outline: none;
  padding-right: 25px;
  padding-left: 17px;
  color: #000000;
  font-size: 17px; }
  select::-ms-expand {
    display: none; }

.mt-0 {
  margin-top: 0; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 18px; }
  @media screen and (max-width: 992px) {
    .btn {
      font-size: 13px; } }

.btn-blue {
  background-color: #1faeea;
  color: #ffffff; }
  .btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: rgba(31, 174, 234, 0.8);
    color: #ffffff; }

.btn-green {
  background-image: linear-gradient(34deg, #349c49 30%, #3fb3d1 70%);
  color: #ffffff; }
  .btn-green:hover {
    opacity: 0.9;
    color: #ffffff; }
  .btn-green:active, .btn-green:focus {
    background-image: linear-gradient(34deg, #349c49 30%, #3fb3d1 70%); }

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

input[type="date"],
input[type="time"] {
  position: relative;
  background-image: url(../img/calendar.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  padding-right: 28px; }

input[type="time"] {
  background-image: url(../img/time.png); }

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  opacity: 0; }

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none; }

.select {
  width: 100%;
  height: 100%;
  padding: 0;
  background: #fff !important;
  padding: 0;
  border: 1px solid #E3DED8;
  border-radius: 4px;
  height: 33px;
  border: 1px solid #37af62; }
  .select:active, .select.open, .select:focus {
    border: 1px solid #37af62; }
  .select span {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-image: url(../img/arrow_select.png);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 15px auto;
    font-size: 14px;
    color: #585858; }
    @media screen and (max-width: 576px) {
      .select span {
        background-size: 11px auto;
        background-position: right 7px center;
        font-size: 12px; } }
  .select .list {
    margin-top: 1px;
    background: #FFFFFF;
    border: 1px solid #37af62;
    box-shadow: 0px 5px 15px rgba(164, 156, 147, 0.5);
    border-radius: 5px;
    max-height: 185px;
    overflow-y: auto; }
    .select .list::-webkit-scrollbar {
      width: 14px;
      padding: 0 3px;
      /* ширина scrollbar */ }
    .select .list::-webkit-scrollbar-track {
      background: transparent;
      /* цвет дорожки */ }
    .select .list::-webkit-scrollbar-thumb {
      background-color: #DDB47E;
      /* цвет плашки */
      border-radius: 15px;
      /* закругления плашки */
      border: 4px solid #fff;
      /* padding вокруг плашки */ }
  .select .option {
    padding: 0 15px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 15px;
    border: none;
    transition: all .3s; }
  .select .option:hover, .select .option.focus, .select .option.selected.focus {
    background: #37af62;
    font-weight: 400; }

.card__top {
  height: 175px;
  overflow: hidden;
  position: relative;
  border-radius: 10px; }
  .card__top img {
    min-height: 100%;
    min-width: 100%;
    display: block; }
  @media screen and (max-width: 576px) {
    .card__top {
      height: unset; }
      .card__top img {
        min-height: unset;
        min-width: unset;
        width: 100%; } }
.card__btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.card__info {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.card__author, .card__price, .card__subtitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #9c9c9c; }
.card__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000; }

.pagination {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination__item {
    font-size: 18px;
    color: #000000;
    margin: 0 5px; }
  @media screen and (max-width: 768px) {
    .pagination {
      margin-top: 30px; } }

.header {
  position: relative;
  border-bottom: 1px solid #01d6da; }
  .header-test {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #1faeea 0%, #00c0ff 100%);
    border: 1px solid #01d6da;
    height: 45px; }
    .header-test__text {
      font-size: 18px;
      line-height: 1.2;
      color: #ffffff;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center; }
      .header-test__text i {
        width: 21px;
        height: 21px;
        border: 1px solid #1a6869;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        left: 100%;
        margin-left: 22px;
        top: 2px;
        background-color: #fff; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__logo {
    width: 190px; }
    .header__logo img {
      width: 100%; }
  .header__login {
    width: 142px;
    height: 37px; }
    .header__login img {
      margin-left: 26px;
      flex-shrink: 0; }
  .header__lang {
    width: 71px;
    margin-right: 2px; }
    .header__lang .select {
      height: 37px;
      background-image: linear-gradient(42deg, #349c49 17%, #3fb3d1 82%) !important;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400; }
      .header__lang .select .current {
        color: #ffffff;
        background-image: none; }
  .header__lk {
    display: block;
    margin-left: 40px; }
  .header__burger {
    display: none; }
  .header__title {
    font-size: 30px;
    font-weight: 700;
    color: #000000; }

.footer {
  padding: 20px 0;
  background-color: #1faeea;
  color: #fff; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__link {
    font-size: 18px;
    line-height: 167%;
    display: block; }
  .footer__by {
    font-size: 14px;
    margin-top: 27px;
    display: block;
    text-align: right; }

@media screen and (max-width: 992px) {
  .header-test__text {
    font-size: 14px; }
    .header-test__text i {
      width: 14px;
      height: 14px;
      top: 8px;
      margin-left: 2px; }
      .header-test__text i img {
        width: 6px; }
  .header__inner {
    padding: 9px 0; }
  .header__logo {
    width: 110px; }
  .header__login {
    width: 89px;
    height: 23px; }
    .header__login img {
      width: 12px;
      margin-left: 16px; }
  .header__lang {
    width: 45px; }
    .header__lang .select {
      height: 23px; }
      .header__lang .select .current {
        font-size: 12px; }
  .header__lk {
    display: none; }
  .header__burger {
    width: 28px;
    height: 20px;
    margin-left: 24px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center; }
    .header__burger span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background: #69a3e7;
      transition: all .3s; }
      .header__burger span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0; }
      .header__burger span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0; }
    .header__burger--active span:nth-child(1) {
      transform: translateY(9px) rotate(-45deg); }
    .header__burger--active span:nth-child(2) {
      transform: scale(0); }
    .header__burger--active span:nth-child(3) {
      transform: translateY(-9px) rotate(45deg); }
  .header__title {
    display: none; }

  .footer {
    padding: 24px 0; }
    .footer__inner {
      display: block; }
    .footer__right {
      margin-top: 20px; }
    .footer__by {
      text-align: left; } }
.main {
  padding: 40px 0 110px;
  position: relative; }
  .main__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px; }
  .main__inner {
    position: relative;
    min-height: 430px;
    padding: 25px 0 50px; }
  .main__img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%; }
    .main__img img {
      height: 100%;
      width: auto; }
  .main__left {
    position: relative;
    z-index: 2;
    max-width: 660px; }
  .main__title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase; }
  .main__desc {
    margin-top: 75px; }
    .main__desc p {
      font-size: 24px;
      line-height: 1.2; }
      .main__desc p:not(:last-child) {
        margin-bottom: 25px; }
  .main__buttons {
    display: flex;
    align-items: center;
    margin-top: 60px; }
  .main__login {
    width: 142px;
    height: 37px; }
    .main__login img {
      margin-left: 25px; }
  .main__reg {
    width: 225px;
    height: 38px;
    margin-left: 9px; }

.goal {
  background-image: linear-gradient(24deg, #349c49 25%, #3fb3d1 74%);
  padding: 95px 0 105px;
  color: #ffffff; }
  .goal__inner {
    display: flex;
    align-items: center;
    padding-left: 100px; }
  .goal__title {
    width: 270px;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 125px; }
  .goal__desc {
    max-width: 660px; }
    .goal__desc p {
      font-size: 24px;
      line-height: 1.2; }
      .goal__desc p:not(:last-child) {
        margin-bottom: 15px; }

.questions {
  background-image: url(../img/earth.jpg);
  background-size: cover;
  color: #ffffff;
  position: relative; }
  .questions:before {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .questions__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2; }
  .questions__left, .questions__center, .questions__right {
    width: 33.33%;
    padding: 74px 0 63px; }
  .questions__left {
    padding-right: 16px;
    flex-grow: 1; }
  .questions__right {
    padding-left: 16px;
    flex-grow: 1; }
  .questions__center {
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 30px;
    padding-right: 30px;
    width: 395px;
    flex-shrink: 0; }
  .questions__num {
    font-size: 24px;
    font-weight: 700; }
  .questions__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 20px; }
  .questions__desc {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 15px; }
  .questions__btn {
    width: 225px;
    height: 38px;
    margin-top: 50px;
    font-size: 18px; }

.cando {
  padding: 40px 0 20px;
  background-color: #f1f1f1; }
  .cando__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase; }
  .cando__items {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px 80px; }
  .cando__item {
    text-align: center; }
    .cando__item-img {
      height: 65px; }
      .cando__item-img img {
        max-height: 100%;
        width: auto; }
    .cando__item-title {
      font-size: 18px;
      line-height: 1.2;
      margin-top: 14px; }
  .cando__bottom {
    display: flex;
    align-items: center;
    margin-top: 25px; }
    .cando__bottom img {
      width: 200px;
      flex-shrink: 0; }
    .cando__bottom-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      max-width: 950px; }
      .cando__bottom-text strong {
        font-size: 24px;
        text-transform: uppercase; }

.role {
  padding: 58px 0; }
  .role__inner {
    display: flex; }
  .role__left {
    width: 50%;
    padding-right: 20px; }
  .role__right {
    width: 50%;
    position: relative;
    padding-left: 20px; }
    .role__right:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 1px;
      height: 100%;
      background-color: #1faeea;
      left: 0;
      top: 0;
      transform: translateX(-50%); }
    .role__right .role__text {
      max-width: 310px;
      position: relative;
      z-index: 2; }
  .role__img2 {
    position: absolute;
    right: 0;
    top: 45px; }
  .role__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .role__wrap {
    margin-top: 45px;
    display: flex; }
  .role__img {
    flex-shrink: 0;
    margin-right: 15px;
    width: 267px; }
  .role__text p {
    font-size: 18px;
    line-height: 1.2; }
    .role__text p:not(:last-child) {
      margin-bottom: 25px; }
  .role__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px; }
  .role__login {
    width: 142px;
    height: 37px; }
    .role__login img {
      margin-left: 25px; }
  .role__reg {
    width: 225px;
    height: 38px;
    margin-left: 9px; }

@media screen and (max-width: 1200px) {
  .main__inner {
    padding: 0;
    min-height: unset; }
  .main__img {
    display: flex;
    align-items: center; }
    .main__img img {
      height: auto;
      width: 400px; }
  .main__left {
    max-width: 550px; }

  .goal {
    padding: 35px 0 40px; }
    .goal__inner {
      padding-left: 0; }
    .goal__title {
      margin-right: 50px; }

  .cando__items {
    gap: 30px; }

  .role {
    padding: 30px 0; }
    .role__inner {
      display: block; }
    .role__left {
      width: 100%;
      padding-right: 0; }
    .role__right {
      border-top: 1px solid #1faeea;
      padding-top: 40px;
      margin-top: 40px;
      width: 100%;
      padding-left: 0; }
      .role__right:before {
        display: none; }
      .role__right .role__text {
        max-width: unset; }
    .role__img2 {
      position: static;
      order: -1;
      margin-right: 15px; }
    .role__buttons {
      margin-top: 40px; }
    .role__wrap {
      margin-top: 27px; } }
@media screen and (max-width: 992px) {
  .main {
    padding: 18px 0 75px; }
    .main__arrow {
      bottom: 30px; }
      .main__arrow img {
        width: 20px; }
    .main__img {
      display: none; }
    .main__left {
      max-width: 100%; }
    .main__title {
      font-size: 14px; }
    .main__desc {
      margin-top: 15px; }
      .main__desc p {
        font-size: 13px; }
        .main__desc p:not(:last-child) {
          margin-bottom: 12px; }
    .main__buttons {
      margin-top: 25px; }
    .main__login {
      width: 101px;
      height: 26px; }
      .main__login img {
        margin-left: 18px;
        width: 14px; }
    .main__reg {
      width: 160px;
      height: 27px;
      margin-left: 6px; }

  .goal__inner {
    flex-wrap: wrap; }
  .goal__title {
    font-size: 40.5px;
    margin-right: 0;
    width: 100%; }
  .goal__desc {
    margin-top: 15px; }
    .goal__desc p {
      font-size: 11.7px; }
      .goal__desc p:not(:last-child) {
        margin-bottom: 10px; }

  .questions:before {
    background-color: rgba(0, 0, 0, 0.27); }
  .questions__inner {
    display: block; }
  .questions__left, .questions__center, .questions__right {
    width: 100%;
    padding: 55px 0; }
  .questions__center {
    background-color: transparent; }

  .cando__items {
    margin-top: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media screen and (max-width: 992px) and (max-width: 768px) {
    .cando__items {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (max-width: 992px) and (max-width: 500px) {
    .cando__items {
      grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 992px) {
  .cando__item-img {
    height: 50px; }
  .cando__item-title {
    font-size: 13.7px;
    margin-top: 12px; }
  .cando__bottom {
    display: block; }
    .cando__bottom img {
      width: 120px; }
    .cando__bottom-text {
      font-size: 14px;
      margin-top: 5px; }
      .cando__bottom-text strong {
        font-size: 14px; }

  .role__wrap {
    flex-wrap: wrap; }
  .role__text {
    width: 100%;
    margin-top: 30px; }
    .role__text p:not(:last-child) {
      margin-bottom: 15px; } }
@media screen and (max-width: 768px) {
  .questions:before {
    display: none; }
  .questions .container {
    padding: 0; }
  .questions__left, .questions__center, .questions__right {
    padding-left: 15px;
    padding-right: 15px;
    background-size: cover; }
  .questions__left {
    background-image: url(../img/earth_mob1.jpg); }
  .questions__center {
    background-image: url(../img/earth_mob2.jpg); }
  .questions__right {
    background-image: url(../img/earth_mob3.jpg); } }
@media screen and (max-width: 500px) {
  .role__login {
    width: 30%;
    font-size: 15.7px;
    height: 32px; }
  .role__reg {
    width: calc(70% - 7px);
    margin-left: 7px;
    font-size: 15.7px;
    height: 32px; } }
.all-stream {
  padding: 25px 0 60px;
  position: relative; }
  .all-stream__top {
    display: flex;
    align-items: center; }
    .all-stream__top-select {
      width: 210px;
      margin-right: 15px; }
      .all-stream__top-select--150 {
        width: 150px; }
      .all-stream__top-select .select {
        height: 37px; }
      @media screen and (max-width: 768px) {
        .all-stream__top-select {
          margin: 10px 0 0 0; } }
    @media screen and (max-width: 768px) {
      .all-stream__top {
        flex-direction: column-reverse;
        align-items: flex-start; } }
  .all-stream__btn {
    width: 292px;
    height: 37px;
    margin-left: 50px; }
    @media screen and (max-width: 768px) {
      .all-stream__btn {
        margin-left: 0; } }
  .all-stream__select {
    width: 250px;
    margin-right: 20px; }
    .all-stream__select-block {
      display: flex;
      align-items: center;
      margin-top: 15px; }
    .all-stream__select-title {
      font-size: 18px;
      color: #000000;
      margin-right: 20px; }
  .all-stream__items {
    display: grid;
    grid-template-columns: calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px) calc(20% - 4px);
    gap: 30px 6px;
    margin-top: 28px; }
    @media screen and (max-width: 1200px) {
      .all-stream__items {
        grid-template-columns: calc(25% - 4px) calc(25% - 4px) calc(25% - 4px) calc(25% - 4px);
        row-gap: 25px; } }
    @media screen and (max-width: 992px) {
      .all-stream__items {
        grid-template-columns: calc(33.33% - 4px) calc(33.33% - 4px) calc(33.33% - 4px); } }
    @media screen and (max-width: 768px) {
      .all-stream__items {
        grid-template-columns: calc(50% - 4px) calc(50% - 4px); } }
    @media screen and (max-width: 576px) {
      .all-stream__items {
        grid-template-columns: 100%; } }
  .all-stream__tabs {
    margin-top: 20px;
    overflow: hidden; }
    .all-stream__tabs .swiper-container {
      padding-bottom: 5px; }
  .all-stream__tab {
    height: 33px;
    border: 1px solid #37af62;
    width: unset !important;
    padding: 0 25px;
    background-color: #eeeeee;
    font-size: 14px;
    font-weight: 300;
    color: #151515;
    border-radius: 8px;
    display: flex;
    align-items: center; }
    .all-stream__tab--active {
      background-image: linear-gradient(25deg, #349c49 25%, #3fb3d1 75%);
      color: #ffffff; }

@media screen and (max-width: 576px) {
  .all-stream__select {
    flex-grow: 1;
    width: unset; } }
.lk {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .lk__inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; }
  .lk .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%; }
  .lk__main {
    padding: 28px 0 130px;
    width: calc(100% - 235px); }
    .lk__main-title {
      font-size: 24px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 30px; }
  .lk__form {
    max-width: 865px; }
    .lk__form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      margin-bottom: 30px; }
    .lk__form-group input {
      width: 100%;
      height: 36px;
      border: 1px solid #37af62;
      padding-left: 10px;
      border-radius: 5px; }
    .lk__form-group .select {
      height: 36px;
      font-size: 14px; }
    .lk__form-btn {
      width: 194px;
      height: 36px;
      margin-left: auto;
      border-radius: 5px; }
  .lk__desc {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #151515; }
  .lk__text {
    margin-bottom: 22px; }
  .lk__item:not(:last-child) {
    margin-bottom: 12px; }
  .lk__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0; }
    .lk__radio:checked + label:after {
      opacity: 1;
      content: '';
      width: 9px;
      height: 9px;
      border-radius: 50%;
      position: absolute;
      background: #10dff3;
      transform: translateY(-50%);
      top: 50%;
      left: 3px; }
  .lk__label {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #151515;
    position: relative;
    padding-left: 25px; }
    .lk__label::before {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      left: 0;
      transform: translateY(-50%);
      top: 50%;
      border: 1px solid #37af62;
      border-radius: 50%; }
  .lk__item-img {
    margin-top: 8px;
    margin-left: -13px;
    margin-bottom: 17px; }
    @media screen and (max-width: 420px) {
      .lk__item-img img {
        width: 100%; } }
  .lk__btn {
    width: 409px;
    height: 36px;
    border-radius: 5px; }
  .lk__desc-two {
    margin-top: 20px; }
  .lk__sidebar {
    width: 210px;
    min-height: 100%;
    border-left: 1px solid #37af62;
    border-right: 1px solid #37af62;
    padding: 30px 0 0 30px;
    flex-shrink: 0;
    background: #eeeeee;
    z-index: 10; }
    .lk__sidebar--none {
      position: absolute;
      right: -100%;
      top: 0; }
  .lk__link {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-bottom: 30px; }
    .lk__link-bold, .lk__link--active {
      font-weight: 700; }
    .lk__link-item {
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000; }
      .lk__link-item img {
        margin-left: 10px; }
      .lk__link-item .lk__link {
        margin-bottom: 0; }
  .lk__stream {
    margin-top: 25px; }
    .lk__stream-slider {
      margin-top: 28px;
      position: relative; }
      .lk__stream-slider .swiper-button-next {
        right: -28px;
        top: 77px;
        margin-top: 0; }
        .lk__stream-slider .swiper-button-next:after {
          display: none; }
      @media screen and (max-width: 880px) {
        .lk__stream-slider {
          display: flex;
          align-items: center; }
          .lk__stream-slider .swiper-button-next {
            position: static;
            margin-top: -60px;
            margin-left: 10px; } }
    .lk__stream-title {
      font-size: 24px;
      font-weight: 700;
      color: #000000; }
    .lk__stream .all-stream__items {
      grid-template-columns: calc(25% - 4px) calc(25% - 4px) calc(25% - 4px) calc(25% - 4px); }
      @media screen and (max-width: 1200px) {
        .lk__stream .all-stream__items {
          grid-template-columns: calc(33.33% - 4px) calc(33.33% - 4px) calc(33.33% - 4px);
          row-gap: 25px; } }
      @media screen and (max-width: 768px) {
        .lk__stream .all-stream__items {
          grid-template-columns: calc(50% - 4px) calc(50% - 4px); } }
      @media screen and (max-width: 576px) {
        .lk__stream .all-stream__items {
          grid-template-columns: 100%; } }

.translation {
  max-width: 890px; }
  .translation__top {
    position: relative; }
    .translation__top img {
      width: 100%; }
  .translation__play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .translation__info {
    font-size: 18px;
    color: #000000;
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .translation__info {
        display: block;
        margin-top: 25px; } }
  @media screen and (max-width: 768px) {
    .translation__sum {
      margin-top: 15px; } }
  .translation__nav {
    display: flex;
    align-items: center;
    margin-top: 24px; }
    .translation__nav .lk__form-group {
      width: 375px; }
    .translation__nav input {
      height: 44px; }
    @media screen and (max-width: 768px) {
      .translation__nav {
        display: block; }
        .translation__nav .lk__form-group {
          width: 100%; } }
  .translation__btn {
    width: 375px;
    height: 44px;
    margin-left: 29px; }
    .translation__btn--ml0 {
      margin: 0 !important; }
    @media screen and (max-width: 768px) {
      .translation__btn {
        margin-left: 0;
        width: 100%;
        margin-top: 15px; } }

@media screen and (max-width: 992px) {
  .lk {
    position: relative; }
    .lk__sidebar {
      position: absolute;
      right: -100%;
      top: 0;
      width: 100%;
      transition: all .3s;
      border-left: none;
      border-right: none; }
      .lk__sidebar--active {
        right: 0; }
    .lk__main {
      width: 100%;
      padding: 15px 0 75px; }
    .lk__form {
      max-width: unset; } }
@media screen and (max-width: 768px) {
  .lk__form-grid {
    grid-template-columns: 100%;
    margin-bottom: 18px; }
  .lk__form-btn {
    margin-left: 0;
    margin-right: auto; }
  .lk__btn {
    width: 100%; }
  .lk__text {
    margin-bottom: 14px; } }
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%; }

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 1350px) {
  .container {
    width: 1320px; } }

/*# sourceMappingURL=style.css.map */
