@import 'reset';
@import 'ux';
@import 'layout';
@import 'index';
@import 'stream';
@import 'lk';
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1350px) {
    .container {
        width: 1320px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    &-dialog {
        width: 420px;
        background-color: #ffffff;
        border-radius: 8px;
        @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 490px) {
            width: calc(100% - 10px);
        }
    }
    .close {
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        border-radius: 50%;
        right: -10px;
        top: -10px;
        position: absolute;
        float: unset;
        font-size: 18px;
        font-weight: 400;
        color: #ff0000;
        opacity: 1;
    }
    &__tabs {
        display: flex;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
    &__tab {
        width: 50%;
        background-color: #ffffff;
        box-shadow: inset 0px -1px 10px 0px rgba(29, 29, 28, 0.74);
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #151515;
        cursor: pointer;
        transition: all .3s;
        &--active {
            background-color: #0bbaf8;
            pointer-events: none;
            color: #ffffff;
            box-shadow: none;
        }
    }
    &__content {
        padding: 40px 30px 45px;
        display: none;
        &--active {
            display: block;
        }
        @media screen and (max-width: 490px) {
            padding: 20px 10px;
        }
    }
    &__title {
        text-align: center;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
    }
    &__form {
        margin-top: 30px;
        &-group {
            margin-bottom: 14px;
            input {
                border-radius: 5px;
                width: 100%;
                height: 52px;
                border: 1px solid #37af62;
                padding: 0 24px;
                font-size: 18px;
            }
        }
        &-btn {
            width: 100%;
            height: 50px;
            font-size: 18px;
            border-radius: 10px;
            margin-top: 17px;
        }
    }
}