{% extends 'layouts/base.html' %} {% load static %} {% block header %}
<div class="header__right">
    <div class="header__lang">
        <select class="select">
            <option>RUS</option>
            <option>ENG</option>
            <option>ESP</option>
        </select>
    </div>
    <button type="button" data-toggle='modal' data-target='#auth' class="header__login btn btn-blue">
        <span>Вход</span>
        <img src="{% static 'img/login.png' %}" alt="">
    </button>
</div>
{% endblock %} {% block content %}
<section class='main'>
    <div class='container'>
        <div class='main__inner'>
            <div class="main__left">
                <h1 class="main__title">AURA – вместе сделаем наш Мир лучше!</h1>
                <div class="main__desc">
                    <p>Это проект, в котором одни люди <strong>(Стримеры)</strong> делают хорошие дела своими руками.</p>
                    <p>Другие люди <strong>(Зрители)</strong> помогают им, направляя денежное вознаграждение!</p>
                </div>
                <div class="main__buttons">
                    <a href="" class="main__login btn btn-green">
                        <span>Вход</span>
                        <img src="{% static 'img/login.png' %}" alt="">
                    </a>
                    <a href="" class="main__reg btn btn-blue">Регистрация</a>
                </div>
            </div>
            <div class="main__img">
                <img src="{% static 'img/main_img.png' %}" alt="">
            </div>
        </div>
    </div>
    <button class="main__arrow">
            <img src="{% static 'img/arrow_bottom.png' %}" alt="">
        </button>
</section>

<section class='goal'>
    <div class='container'>
        <div class='goal__inner'>
            <h2 class="goal__title">
                цель проекта AURA
            </h2>
            <div class="goal__desc">
                <p>Дать возможность зарабатывать одной категории людей (Стримеры), направив их на совершение благих дел! </p>
                <p>Дать возможность другой категории людей (Зрители) заниматься благотворительностью прозрачно, в реальном времени видя, как их вложения меняют мир! </p>
                <p>Как следствие, мы сделаем огромный вклад в планету и ее жителей.</p>
            </div>
        </div>
    </div>
</section>

<section class='questions'>
    <div class='container'>
        <div class='questions__inner'>
            <div class="questions__left">
                <div class="questions__num">01.</div>
                <div class="questions__title">Тебе нужны деньги?</div>
                <div class="questions__desc">Сделай полезное дело и получи денежное вознагрождение (зарегистрируйся как «Стример»).</div>
            </div>
            <div class="questions__center">
                <div class="questions__num">02.</div>
                <div class="questions__title">Ты волонтер (помогаешь людям, животным, планете)?</div>
                <div class="questions__desc">Покажи это всему миру и получи денежное вознаграждение за свои старания (зарегистрируйся как «Стример»).</div>
                <button class="questions__btn btn btn-blue">Регистрация</button>
            </div>
            <div class="questions__right">
                <div class="questions__num">03.</div>
                <div class="questions__title">У тебя есть желание и возможность помогать финансово?</div>
                <div class="questions__desc">Направь свои средства на реальную помощь людям, животным, планете, наблюдая в реальном времени, как твоя помощь меняет мир (зарегистрируйся как «Зритель»)!</div>
            </div>
        </div>
    </div>
</section>

<section class='cando'>
    <div class='container'>
        <div class="cando__title">
            В нашем проекте Стримеры смогут:
        </div>
        <div class='cando__items'>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь детям</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando2.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь людям с ограниченными возможностями</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando3.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь пенсионерам</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando4.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь ветеранам</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando5.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь малоимущим</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando6.png' %}" alt="">
                </div>
                <div class="cando__item-title">И многое другое...</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando7.png' %}" alt="">
                </div>
                <div class="cando__item-title">Посадить растения</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando8.png' %}" alt="">
                </div>
                <div class="cando__item-title">Что-то починить, отреставрировать</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando9.png' %}" alt="">
                </div>
                <div class="cando__item-title">Убрать мусор</div>
            </div>
            <div class="cando__item">
                <div class="cando__item-img">
                    <img src="{% static 'img/cando10.png' %}" alt="">
                </div>
                <div class="cando__item-title">Помочь животным</div>
            </div>
        </div>
        <div class="cando__bottom">
            <img src="{% static 'img/cando11.png' %}" alt="">
            <div class="cando__bottom-text">
                <strong>А Зрители смогут</strong> в режиме реального времени,а также в записи, наблюдать за деятельностью Стримеров и направлять денежное вознаграждение за их деятельность, тем самым совершая доброе дело!
            </div>
        </div>
    </div>
</section>

<section class='role'>
    <div class='container'>
        <div class='role__inner'>
            <div class="role__left">
                <div class="role__title">Если ты СТРИМЕР</div>
                <div class="role__wrap">
                    <img src="{% static 'img/role.png' %}" alt="" class="role__img">
                    <div class="role__text">
                        <p>Запусти трансляцию, снимай в реальном времени то, как ты помогаешь планете или людям.</p>
                        <p>Делай это хорошо, старайся, создавай реальную пользу! </p>
                        <p>Тогда Зрители будут тебе благодарны и отправят денежное вознаграждение!</p>
                    </div>
                </div>
            </div>
            <div class="role__right">
                <div class="role__title">Если ты ЗРИТЕЛЬ</div>
                <div class="role__wrap">
                    <div class="role__text">
                        <p>Просмотри список трансляций, выбери понравившиеся, открой и посмотри, что делает Стример.</p>
                        <p>Если тебе захочется поддержать его и ту деятельность, которую он выполняет, отправь ему денежное вознаграждение – сделай доброе дело!</p>
                    </div>
                    <img src="{% static 'img/role2.png' %}" alt="" class="role__img2">
                </div>
            </div>
        </div>
        <div class="role__buttons">
            <a href="" class="role__login btn btn-blue">
                <span>Вход</span>
                <img src="{% static 'img/login.png' %}" alt="">
            </a>
            <a href="" class="role__reg btn btn-blue">Регистрация</a>
        </div>
    </div>
</section>


{% endblock %}

