.main {
    padding: 40px 0 110px;
    position: relative;
    &__arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
    }
    &__inner {
        position: relative;
        min-height: 430px;
        padding: 25px 0 50px;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        img {
            height: 100%;
            width: auto;
        }
    }
    &__left {
        position: relative;
        z-index: 2;
        max-width: 660px;
    }
    &__title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__desc {
        margin-top: 75px;
        p {
            font-size: 24px;
            line-height: 1.2;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        margin-top: 60px;
    }
    &__login {
        width: 142px;
        height: 37px;
        img {
            margin-left: 25px;
        }
    }
    &__reg {
        width: 225px;
        height: 38px;
        margin-left: 9px;
    }
}

.goal {
    background-image: linear-gradient(24.0deg, #349c49 25%, #3fb3d1 74%);
    padding: 95px 0 105px;
    color: #ffffff;
    &__inner {
        display: flex;
        align-items: center;
        padding-left: 100px;
    }
    &__title {
        width: 270px;
        font-size: 60px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 125px;
    }
    &__desc {
        max-width: 660px;
        p {
            font-size: 24px;
            line-height: 1.2;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

.questions {
    background-image: url(../img/earth.jpg);
    background-size: cover;
    color: #ffffff;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.67);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    &__left,
    &__center,
    &__right {
        width: 33.33%;
        padding: 74px 0 63px;
    }
    &__left {
        padding-right: 16px;
        flex-grow: 1;
    }
    &__right {
        padding-left: 16px;
        flex-grow: 1;
    }
    &__center {
        background-color: rgba(0, 0, 0, 0.70);
        padding-left: 30px;
        padding-right: 30px;
        width: 395px;
        flex-shrink: 0;
    }
    &__num {
        font-size: 24px;
        font-weight: 700;
    }
    &__title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        margin-top: 20px;
    }
    &__desc {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 15px;
    }
    &__btn {
        width: 225px;
        height: 38px;
        margin-top: 50px;
        font-size: 18px;
    }
}

.cando {
    padding: 40px 0 20px;
    background-color: #f1f1f1;
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
    }
    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 60px 80px;
    }
    &__item {
        text-align: center;
        &-img {
            height: 65px;
            img {
                max-height: 100%;
                width: auto;
            }
        }
        &-title {
            font-size: 18px;
            line-height: 1.2;
            margin-top: 14px;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 25px;
        img {
            width: 200px;
            flex-shrink: 0;
        }
        &-text {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            max-width: 950px;
            strong {
                font-size: 24px;
                text-transform: uppercase;
            }
        }
    }
}

.role {
    padding: 58px 0;
    &__inner {
        display: flex;
    }
    &__left {
        width: 50%;
        padding-right: 20px;
    }
    &__right {
        width: 50%;
        position: relative;
        padding-left: 20px;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 1px;
            height: 100%;
            background-color: #1faeea;
            left: 0;
            top: 0;
            transform: translateX(-50%);
        }
        .role__text {
            max-width: 310px;
            position: relative;
            z-index: 2;
        }
    }
    &__img2 {
        position: absolute;
        right: 0;
        top: 45px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__wrap {
        margin-top: 45px;
        display: flex;
    }
    &__img {
        flex-shrink: 0;
        margin-right: 15px;
        width: 267px;
    }
    &__text {
        p {
            font-size: 18px;
            line-height: 1.2;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
    }
    &__login {
        width: 142px;
        height: 37px;
        img {
            margin-left: 25px;
        }
    }
    &__reg {
        width: 225px;
        height: 38px;
        margin-left: 9px;
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__inner {
            padding: 0;
            min-height: unset;
        }
        &__img {
            display: flex;
            align-items: center;
            img {
                height: auto;
                width: 400px;
            }
        }
        &__left {
            max-width: 550px;
        }
    }
    .goal {
        padding: 35px 0 40px;
        &__inner {
            padding-left: 0;
        }
        &__title {
            margin-right: 50px;
        }
    }
    .cando {
        &__items {
            gap: 30px;
        }
    }
    .role {
        padding: 30px 0;
        &__inner {
            display: block;
        }
        &__left {
            width: 100%;
            padding-right: 0;
        }
        &__right {
            border-top: 1px solid #1faeea;
            padding-top: 40px;
            margin-top: 40px;
            width: 100%;
            padding-left: 0;
            &:before {
                display: none;
            }
            .role__text {
                max-width: unset;
            }
        }
        &__img2 {
            position: static;
            order: -1;
            margin-right: 15px;
        }
        &__buttons {
            margin-top: 40px;
        }
        &__wrap {
            margin-top: 27px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        padding: 18px 0 75px;
        &__arrow {
            bottom: 30px;
            img {
                width: 20px;
            }
        }
        &__img {
            display: none;
        }
        &__left {
            max-width: 100%;
        }
        &__title {
            font-size: 14px;
        }
        &__desc {
            margin-top: 15px;
            p {
                font-size: 13px;
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
        &__buttons {
            margin-top: 25px;
        }
        &__login {
            width: 101px;
            height: 26px;
            img {
                margin-left: 18px;
                width: 14px;
            }
        }
        &__reg {
            width: 160px;
            height: 27px;
            margin-left: 6px;
        }
    }
    .goal {
        &__inner {
            flex-wrap: wrap;
        }
        &__title {
            font-size: 40.5px;
            margin-right: 0;
            width: 100%;
        }
        &__desc {
            margin-top: 15px;
            p {
                font-size: 11.7px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .questions {
        &:before {
            background-color: rgba(0, 0, 0, 0.27);
        }
        &__inner {
            display: block;
        }
        &__left,
        &__center,
        &__right {
            width: 100%;
            padding: 55px 0;
        }
        &__center {
            background-color: transparent;
        }
    }
    .cando {
        &__items {
            margin-top: 35px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media screen and (max-width: 500px) {
                grid-template-columns: 1fr 1fr;
            }
        }
        &__item {
            &-img {
                height: 50px;
            }
            &-title {
                font-size: 13.7px;
                margin-top: 12px;
            }
        }
        &__bottom {
            display: block;
            img {
                width: 120px;
            }
            &-text {
                font-size: 14px;
                margin-top: 5px;
                strong {
                    font-size: 14px;
                }
            }
        }
    }
    .role {
        &__wrap {
            flex-wrap: wrap;
        }
        &__text {
            width: 100%;
            margin-top: 30px;
            p {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .questions {
        &:before {
            display: none;
        }
        .container {
            padding: 0;
        }
        &__left,
        &__center,
        &__right {
            padding-left: 15px;
            padding-right: 15px;
            background-size: cover;
        }
        &__left {
            background-image: url(../img/earth_mob1.jpg);
        }
        &__center {
            background-image: url(../img/earth_mob2.jpg);
        }
        &__right {
            background-image: url(../img/earth_mob3.jpg);
        }
    }
}

@media screen and (max-width: 500px) {
    .role {
        &__login {
            width: 30%;
            font-size: 15.7px;
            height: 32px;
        }
        &__reg {
            width: calc(70% - 7px);
            margin-left: 7px;
            font-size: 15.7px;
            height: 32px;
        }
    }
}