.header {
  position: relative;
  border-bottom: 1px solid #01d6da; }
  .header-test {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, #1faeea 0%, #00c0ff 100%);
    border: 1px solid #01d6da;
    height: 45px; }
    .header-test__text {
      font-size: 18px;
      line-height: 1.2;
      color: #ffffff;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center; }
      .header-test__text i {
        width: 21px;
        height: 21px;
        border: 1px solid #1a6869;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        left: 100%;
        margin-left: 22px;
        top: 2px;
        background-color: #fff; }
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0; }
  .header__right {
    display: flex;
    align-items: center; }
  .header__logo {
    width: 190px; }
    .header__logo img {
      width: 100%; }
  .header__login {
    width: 142px;
    height: 37px; }
    .header__login img {
      margin-left: 26px;
      flex-shrink: 0; }
  .header__lang {
    width: 71px;
    margin-right: 2px; }
    .header__lang .select {
      height: 37px;
      background-image: linear-gradient(42deg, #349c49 17%, #3fb3d1 82%) !important;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400; }
      .header__lang .select .current {
        color: #ffffff;
        background-image: none; }
  .header__lk {
    display: block;
    margin-left: 40px; }
  .header__burger {
    display: none; }
  .header__title {
    font-size: 30px;
    font-weight: 700;
    color: #000000; }

.footer {
  padding: 20px 0;
  background-color: #1faeea;
  color: #fff; }
  .footer__inner {
    display: flex;
    justify-content: space-between; }
  .footer__link {
    font-size: 18px;
    line-height: 167%;
    display: block; }
  .footer__by {
    font-size: 14px;
    margin-top: 27px;
    display: block;
    text-align: right; }

@media screen and (max-width: 992px) {
  .header-test__text {
    font-size: 14px; }
    .header-test__text i {
      width: 14px;
      height: 14px;
      top: 8px;
      margin-left: 2px; }
      .header-test__text i img {
        width: 6px; }
  .header__inner {
    padding: 9px 0; }
  .header__logo {
    width: 110px; }
  .header__login {
    width: 89px;
    height: 23px; }
    .header__login img {
      width: 12px;
      margin-left: 16px; }
  .header__lang {
    width: 45px; }
    .header__lang .select {
      height: 23px; }
      .header__lang .select .current {
        font-size: 12px; }
  .header__lk {
    display: none; }
  .header__burger {
    width: 28px;
    height: 20px;
    margin-left: 24px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center; }
    .header__burger span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background: #69a3e7;
      transition: all .3s; }
      .header__burger span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0; }
      .header__burger span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0; }
    .header__burger--active span:nth-child(1) {
      transform: translateY(9px) rotate(-45deg); }
    .header__burger--active span:nth-child(2) {
      transform: scale(0); }
    .header__burger--active span:nth-child(3) {
      transform: translateY(-9px) rotate(45deg); }
  .header__title {
    display: none; }

  .footer {
    padding: 24px 0; }
    .footer__inner {
      display: block; }
    .footer__right {
      margin-top: 20px; }
    .footer__by {
      text-align: left; } }

/*# sourceMappingURL=layout.css.map */
